.leftone{   
    background-color: #3d6cb9;
    width: fit-content;
    padding: 20px;
    margin-top: 2px;
    color: white;
    border-radius: 101px;
    left: 2px;
}

.rightone{
    background-color: #3d6cb9;
    width: fit-content;
    padding: 20px;
    margin-top: 2px;
    color: white;
    border-radius: 101px;
}